body {
    margin: 0;
    font-family: $font-stack;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url("../images/v748-toon-103.jpg");
    // background-image: linear-gradient(to right, #463e8e, #1b1c30);
    background-color: $bg-white;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }