$bg-white: #fff;
$bg-dark: #1A202C;
$bg-ball: #ECECEC;
$bg-gradient: linear-gradient(to right, #8607fe, #1b1c30);

$font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;