header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 3px solid #ececec;
    color: $bg-white;
    background-image: $bg-gradient;

    a {
        text-decoration: none;
        color: $bg-white;

        &:hover {
            background: $bg-white;
            color: $bg-dark;
            border-radius: 15px;
        }
    }

    .headerOptions {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 5px;
        
        h2 {
            padding-right: 40px;
            padding-left: 40px;
        }
    }

    .email {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .emailIcon {
            margin-top: 25px;
            padding-right: 10px;
        }
    }

    .headerTitle {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-left: 40px;
        padding-right: 40px;
  
        .atSymbol {
            width: auto;
            margin-top: 30px;
        }
    }
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: $bg-ball;
    width: 100%;
    padding: 40px;

    .hello-presentation {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        animation: go-forward 1s;
        margin-top: 50px;
        background-image: $bg-gradient;
        // border: solid 3px $bg-dark;
        box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;        border-radius: 100px;
        padding: 30px 50px 10px;

        @keyframes go-forward {
            from {
                transform: translateX(-500px);
            }
            to {
                transform: translateX(0);
            }
        }

        .hello {
            font-size: 30px;
        }

        .presentation {
            font-size: 40px;
            color: #f0eeea;;
        }          
    }

    .my-photo-background {

        img {
            width: 600px;
            border-radius: 5%;
            margin-top: 80px;
            animation: bounce 1s infinite alternate;
            -webkit-animation: bounce 1s infinite alternate;

            @keyframes bounce {
                from {
                    transform: translateY(0px);
                }
                to {
                    transform: translateY(-30px);
                }
            }

            @-webkit-keyframes bounce {
                from {
                    transform: translateY(0px);
                }
                to {
                    transform: translateY(-30px);
                }
            }
        }
    }
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 3px solid #ececec;
    color: $bg-white;
    background-image: $bg-gradient;
    width: 100%;
    bottom: 0;
    position: fixed;
    font-size: larger;
}

.about-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: $bg-ball;
    width: 100%;
    padding: 40px;

    .my-office {
        width: 50%;
        height: 500px;
        border-radius: 50px;
        -webkit-animation: fadein 1s linear forwards;
        animation: fadein 1s linear forwards;
        opacity: 0;

        @-webkit-keyframes fadein {
            100% { opacity: 1; }
        }

        @keyframes fadein {
            100% { opacity: 1; }
        }
    }

    .hello-presentation {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        animation: go-back 1s;
        width: fit-content;
        height: fit-content;
        margin: 50px;
        background-image: $bg-gradient;
        box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;        border-radius: 100px;
        padding: 30px 50px 10px;
        // border: solid 3px $bg-dark;

        @keyframes go-back {
            from {
                transform: translateX(500px);
            }
            to {
                transform: translateX(0px);
            }
        }
        
        .presentation {
            font-size: 20px;
            color: #f0eeea;
            
            .part-one {
                padding: 0px;
            }
        }      

    }
}